<ng-template #clientCircleOfFriendsMdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Friend</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <form>
    <div class="modal-body">
      <div class="form-group">
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <label for="volunteer-name">Volunteer Name</label>
            <input id="volunteer-name" type="text" class="form-control" [(ngModel)]="volunteer_name" />
          </div>
          <div class="col-12 col-md-6">
            <label for="phone-number">Phone Number</label>
            <input id="phone-number" type="text" class="form-control" placeholder="###-###-####" [(ngModel)]="phone_number" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" [(ngModel)]="email" />
          </div>
          <div class="col-12 col-md-6">
            <label for="notes">Notes</label>
            <textarea id="notes" class="form-control" rows="4" [(ngModel)]="notes" name="notes"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-between flex-wrap">
      <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Don't Save</button>
      <button type="button" class="btn btn-primary" (click)="submitFriend();c('')">Save</button>
    </div>
  </form>
</ng-template>