<div class="card text-center" style="opacity:0.93">
  <div class="card-header text-center">
    <button type="button" class="pull-left btn btn-primary" (click)="back()">Back</button>
    <h2>Client Listing</h2>
  </div>
  <div class="panel-body">
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Route</th>
            <th class="text-center">Camp</th>
            <th class="text-center">Status</th>
            <th class="text-center">Last Interaction</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients" (click)="viewClient(client)" class="client-row">
            <td class="text-center">{{client.preferred_name}}</td>
            <td class="text-center">{{client.phone}}</td>
            <td class="text-center">{{client.route_name}}</td>
            <td class="text-center">{{client.camp_name}}</td>
            <td class="text-center">{{client.status}}</td>
            <td class="text-center">{{client.updated_at | date: 'shortDate'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>