<div class="card" style="opacity:0.93">
  <div class="card-header">
    <h2>Client Listing</h2>
  </div>
  <div class="panel-body">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="panel-body">
    <div>
      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="first_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.first_name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="preferred_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Preferred Name</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.preferred_name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="last_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.last_name}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.phone}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="birth_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Birthday</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.birth_date}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="route_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Route</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.route_name}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="camp_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Camp</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.camp_name}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.status}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Items">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Items</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.Items}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Pets">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Pets</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.Pets}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="updated_at">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Interaction</mat-header-cell>
          <mat-cell *matCellDef="let client">{{client.updated_at | date: 'shortDate'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="viewClient(client)" *matRowDef="let client; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <div class="card-footer text-center">
    <button type="button" class="pull-left btn btn-primary" (click)="back()">Back</button>
  </div>
</div>