<div class="card text-center" style="opacity:0.93">
  <div class="card-header text-center">
    <button type="button" class="pull-left btn btn-primary" (click)="back()">Back</button>
    <h2>{{route.name}} -> {{location.name}}</h2>
  </div>
  <div class="panel-body">
    <div>
      <div class="col-sm-6">
        <div><label>Location Details: &nbsp;</label>{{location.notes}}</div>
      </div>
    </div>
    <br>
    <div class="card"><h3>Clients</h3>
      <div class="pull-right">
        <button type="button" (click)="createClient()" class="btn btn-primary">Create Client</button>&nbsp;
        <button type="button" (click)="clientMdl.showModal();" class="btn btn-primary">Search Clients</button>
      </div>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.preferredName}}</td>
            <td><button type="button" class="btn btn-primary">Some Action</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-client-search #clientMdl (clientSelected)="clientSelected($event)"></app-client-search>