.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}




.location-camp-div {
    height: 60px;
    padding: 5px;
    margin: 5px;
    background-color: lightsteelblue;
    border-left-width: 15px;
    cursor:pointer;
}