<div class="panel panel-info">
  <div class="panel-heading text-center">
    <button type="button" class="pull-left btn btn-primary" (click)="back()">Back</button>
    <h2>{{route.name}} -> {{location.name}}</h2>
  </div>
  <div class="panel-body">
    <div>
      <div class="col-sm-6">
        <div><label>Location Details: &nbsp;</label>{{location.notes}}</div>
      </div>
    </div>
    <br>
    <div class="row"><h3>Clients</h3></div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.preferredName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
