<footer style="background:white;width:100%;opacity:0.8;height:3em;">
    <div id="basic-info" style="text-align:center;font-size:0.75em">
        <b>Joppa Phone #:</b> 515-288-5699
        <b>Address:</b><span> 118 S.E. 4th Street Suite 120 Des Moines, IA 50309</span>
        <b>Website:</b><a href="http://www.joppa.org" target="_blank"> www.joppa.org</a>
        &copy; Joppa {{ currentYear }}
    </div>
    <div style="text-align:center;">
        <button type="button" style="line-height:1em" class="btn btn-primary" (click)="endRoute()">End Route</button>
    </div>
</footer>