<footer style="background:white;width:100%;opacity:0.8;">
    <div id="basic-info" style="float:left;margin-left:1%">
        <b>Joppa Phone #:</b> 515-288-5699
        <b>Address:</b><span> 118 S.E. 4th Street Suite 120 Des Moines, IA 50309</span>
        <b>Website:</b><a href="http://www.joppa.org" target="_blank"> www.joppa.org</a>
    </div>
    <div style="float:right;margin-right:1%">
        <button type="button" class="btn btn-primary" (click)="endRoute()">End Route</button> &nbsp; Joppa {{ currentYear }}
    </div>
</footer>