<div class="card text-center" style="opacity:0.93">
    <div class="card-header">
      <h2>Undelivered Items</h2>
    </div>
    <div class="panel-body">
        <table class="table" id="undeliveredItems">
            <thead>
              <tr>
                <th>Route</th>
                <th>Client Name</th>
                <th>Item</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of undeliveredItems">
                <td>{{item.name}}</td>
                <td>{{item.preferred_name}}</td>
                <td>{{item.item_description}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="card-footer">
      <button routerLink="/admin/reports" class="btn btn-primary" style="float: left" (click)="back()"><fa-icon [icon]="backIcon"></fa-icon> Back</button>
    </div>
  </div>