<ng-template #notesMdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Note</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <form>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6" *ngIf="isAdmin">
            <label for="source">Source</label>
            <select id="source" class= "form-control" [(ngModel)]="source" style="float:left;">
              <option value="Resource Center" *ngIf="isAdmin">Resource Center</option>
              <option value="Phone" *ngIf="isAdmin">Phone</option>
              <option value="Email" *ngIf="isAdmin">Email</option>
              <option value="Circle of Friends" *ngIf="isAdmin">Circle of Friends</option>
              <option value="Outreach">Outreach</option>
              <option value="Aftercare">Aftercare</option>
              <option value="Meeting" *ngIf="isAdmin">Meeting</option>
              <option value="Heat">Heat</option>
              <option value="WARNING" *ngIf="isAdmin">WARNING</option>
              <option value="PINNED NOTE" *ngIf="isAdmin">PINNED NOTE</option>
            </select>
          </div>
          <div class="col-md-6">
            <textarea id="focusMe" class="form-control" rows="4" [(ngModel)]="note" placeholder="Note"
              name="note"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Don't Save</button>
    <button type="button" class="btn btn-primary" (click)="submitNote();c('')">Save</button>
  </div>
</ng-template>