<form [formGroup]="volunteerForm">
    <div class="card text-center" style="opacity:0.93">
    <div class="card-header">
      <button class="btn btn-primary" type="button">Back</button>
      <h2>Volunteer Info</h2>
    </div>
    <div class="panel-body" style="opacity:0.93">
    <div class="entry-box">
      <div class="col-md-12">
        <label>Number of Route Members: </label>
        <input type="text" placeholder="0" formControlName="number_route_members"/>
      </div>
      <div class="col-md-12">
        <button type="submit" [disabled]="!volunteerForm.valid" (click)="addNumberRouteMembers()" class="btn btn-primary">Begin Route</button>
      </div>
    </div>
    </div>
    </div>
    </form>