<ng-template #campNotesMdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Note</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <form>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-12">
            <textarea id="focusMe" class="form-control" rows="4" [(ngModel)]="note" placeholder="Note" name="note"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-between flex-wrap">
      <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Don't Save</button>
      <button type="button" class="btn btn-primary" (click)="submitCampNote(); c('')">Save</button>
    </div>
  </form>
</ng-template>
