<div class="card" style="opacity:0.93">
  <div class="card-header text-center">
    <div style="float:left;">
      <button type="button" class="btn btn-primary" (click)="back()">
        <span class="oi oi-arrow-thick-left" title="arrow thick left" aria-hidden="true"></span>
      </button>
    </div>
    <h2 class="text-center">Create New Route</h2>
  </div>
  <div class="panel-body" style="opacity:0.93">
    <form [formGroup]="routeForm" style="opacity:0.93">
      <div class="form-group row">
          <label for="name" class="col-6 col-form-label" style="float:left">Name:</label>
          <div class="col-6">
            <input id="name" class="form-control" type="text" placeholder="Name" formControlName="name" style="float:right" />
          </div>
      </div>
      <div class="form-group row">
        <label for="region" class="col-6 col-form-label" style="float:left">Region:</label>
        <div class="col-6">
          <input id="region" class="form-control" type="text" placeholder="Region" formControlName="region" style="float:right" />
        </div>
      </div>
      <div class="form-group row">
        <label for="aftercare" class="col-6 col-form-label">Aftercare:</label>
        <div class="col-6">
          <input id="aftercare" type="checkbox" class="form-control-checkbox" style="float:right; width:5%; height:100%;" formControlName="is_aftercare" />
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-center">
    <button type="button" class="btn btn-primary" style="float:right" [disabled]="!routeForm.valid"
      (click)="submitRoute()">Submit Route</button>
  </div>
</div>