<div class="card text-center" style="opacity:0.93">
  <div class="card-header text-left">
    <div style="float:left;">
      <button type="button" class="btn btn-primary" (click)="back()">
        <span class="oi oi-arrow-thick-left" title="arrow thick left" aria-hidden="true"></span>
      </button>
    </div>
    <h2 class="text-center">Create New Route</h2>
  </div>
  <div class="panel-body" style="opacity:0.93">
    <form [formGroup]="routeForm" style="opacity:0.93">
      <div class="row">
        <div class="col">
          <label for="name">Name:</label>
          <input id="name" type="text" placeholder="Name" formControlName="name" class="form-control" style="max-width: 75%;" />
        </div>
        <div class="col">
          <label for="region">Region:</label>
          <input id="region" type="text" placeholder="Region" formControlName="region" class="form-control" style="max-width: 75%;" />
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-center">
    <button type="button" class="btn btn-primary" style="float:right" [disabled]="!routeForm.valid" (click)="submitRoute()">Submit Route</button>
  </div>
</div>
