<div class="card panel-info" style="opacity:0.93">
  <div class="card-header text-center">
    <h2>Create Client</h2>
    <h6><label>
        <font color="red">*</font>
      </label>Indicates Required Field </h6>
  </div>
  <div class="panel-body" style="opacity:0.93">
    <form [formGroup]="clientForm" style="opacity:0.93">
      <div class="login-box">
        <div class="col-md-12">
          <label>Preferred Name:<font color="red">*</font></label>
          <input type="text" class="float-right" placeholder="preferred name" formControlName="preferred_name" />
        </div>
        <div class="col-md-12">
          <label>First Name:</label>
          <input type="text" class="float-right" placeholder="first name" formControlName="first_name" />
        </div>
        <div class="col-md-12">
          <label>Last Name:</label>
          <input type="text" class="float-right" placeholder="last name" formControlName="last_name" />
        </div>
        <div class="col-md-12">
          <label>Gender: </label>
          <select class="form-control" class="float-right" formControlName="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="col-md-12">
          <label>Birth Date: </label>
          <input type="date" class="float-right" placeholder="mm/dd/yyyy" formControlName="birth_date" />
        </div>
        <div class="col-md-12">
          <label>Phone: </label>
          <input type="text" class="float-right" placeholder="phone" formControlName="phone">
        </div>
        <div class="col-md-12">
          <label>Shoe Size: </label>
          <input type="text" class="float-right" placeholder="shoe size" formControlName="shoe_size" />
        </div>
        <div class="col-md-12">
          <label>Boot Size: </label>
          <input type="text" class="float-right" placeholder="boot size" formControlName="boot_size" />
        </div>
        <div class="col-md-12">
          <label>Is Veteran: </label>
          <input type="checkbox" class="float-right" formControlName="is_veteran" />
        </div>
        <div class="col-md-12">
          <label>Is After Care: </label>
          <input type="checkbox" class="float-right" formControlName="is_aftercare" />
        </div>
        <div class="col-md-12">
          <label>Mailbox: </label>
          <input type="text" class="float-right" placeholder="Joppa Mailbox Number"
            formControlName="joppa_apartment_number" />
        </div>
        <div class="col-md-12">
          <label>Dwelling:<font color="red">*</font></label>
          <select class="form-control" class="float-right" formControlName="dwelling">
            <option value="Tent">Tent</option>
            <option value="Shack">Shack</option>
            <option value="Abandoned Structure">Abandoned Structure</option>
            <option value="Mobile Home">Mobile Home</option>
            <option value="Motel">Motel</option>
            <option value="Garage">Garage</option>
            <option value="Vehicle">Vehicle</option>
            <option value="Camper">Camper</option>
            <option value="Under Bridge">Under Bridge</option>
            <option value="Streets">Streets</option>
            <option value="House">House</option>
            <option value="Apartment">Apartment</option>
          </select>
        </div>
        <div class="col-md-12">
          <label>Status: </label>
          <select class="form-control" class="float-right" formControlName="status">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Alumni">Alumni</option>
            <option value="Deceased">Deceased</option>
          </select>
        </div>
        <div class="col-md-12">
          <label>Admin Notes: </label>
          <textarea rows=3 class="float-right" placeholder="admin notes" formControlName="admin_notes"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-center">
    <button class="btn btn-primary" type="button" [disabled]="!clientForm.valid" (click)="submitClient()">Submit
      Client</button>
    <button type="button" class="btn btn-primary" (click)="back()">Back</button>
  </div>
</div>