<div class="card panel-info" style="opacity:0.93">
  <div class="card-header text-left">
    <h2>Create Client</h2>
    <h6><label>
        <font color="red">*</font>
      </label>Indicates Required Field</h6>
  </div>
  <div class="panel-body" style="opacity:0.93">
    <form [formGroup]="clientForm" style="opacity:0.93">
      <div class="login-box">
        <div class="form-group row">
          <label for="first-name" class="col-6 col-form-label">First Name:<font color="red">*</font> </label>
          <div class="col-6">
            <input id="first-name" type="text" class="form-control" style="float:right;" placeholder="First Name"
              formControlName="first_name" />
          </div>
        </div>
        <div class="form-group row">
          <label for="last-name" class="col-6 col-form-label">Last Name:<font color="red">*</font> </label>
          <div class="col-6">
            <input id="last-name" type="text" class="form-control" style="float:right;" placeholder="Last Name"
              formControlName="last_name" />
          </div>
        </div>
        <div class="form-group row">
          <label for="preferred-name" class="col-6 col-form-label">Preferred Name: </label>
          <div class="col-6">
            <input id="preferred-name" type="text" class="form-control" style="float:right;"
              placeholder="Preferred Name" formControlName="preferred_name" />
          </div>
        </div>
        <div class="form-group row">
          <label for="gender" class="col-6 col-form-label">Gender:<font color="red">*</font> </label>
          <div class="col-6">
            <select id="gender" class="form-control" formControlName="gender" style="float:right;">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="race" class="col-6 col-form-label">Race: </label>
          <div class="col-6">
            <select id="race" class="form-control" formControlName="race" style="float:right;">
              <option value="American Indian, Alaska Native, or Indigenous">American Indian, Alaska Native, or
                Indigenous</option>
              <option value="Asian or Asian American">Asian or Asian American</option>
              <option value="Black, African American, or African">Black, African American, or African</option>
              <option value="Native Hawaiian or Pacific Islander">Native Hawaiian or Pacific Islander</option>
              <option value="White">White</option>
              <option value="Client doesn't know">Client doesn't know</option>
              <option value="Client refused">Client refused</option>
              <option value="Data not collected">Data not collected</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="ethnicity" class="col-6 col-form-label">Ethnicity: </label>
          <div class="col-6">
            <select id="ethnicity" class="form-control" formControlName="ethnicity" style="float:right;">
              <option value="Non-Hispanic/Non-Latin(a)(o)(x)">Non-Hispanic/Non-Latin(a)(o)(x)</option>
              <option value="Hispanic/Latin(a)(o)(x)">Hispanic/Latin(a)(o)(x)</option>
              <option value="Client doesn't know">Client doesn't know</option>
              <option value="Client refused">Client refused</option>
              <option value="Data not collected">Data not collected</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="birth-date" class="col-6 col-form-label">Birth Date (Date must be MM/DD/YYYY):<font color="red">*
            </font> </label>
          <div class="col-6">
            <input id="birth-date" type="date" class="form-control" placeholder="mm/dd/yyyy"
              formControlName="birth_date" style="float:right;" />
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="col-6 col-form-label">Phone: </label>
          <div class="col-6">
            <input id="phone" type="text" class="form-control" style="float:right;" placeholder="phone"
              formControlName="phone" />
          </div>
        </div>
        <div class="form-group row">
          <label for="fth" class="col-6 col-form-label"><span style="background-color: yellow;">First Time
              Homeless:</span>
            <font color="red" *ngIf="!isAdmin">*</font>
          </label>
          <div class="col-6">
            <select id="fth" class="form-control" #fthitem style="float:right;" (change)="onFTHChange(fthitem.value)">
              <option value='unknown'>Unknown</option>
              <option value='yes'>Yes</option>
              <option value='no'>No</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="dbh" class="col-6 col-form-label"><span style="background-color: yellow;">Date Became Homeless
              (Date must be MM/DD/YYYY):</span> </label>
          <div class="col-6">
            <input id="dbh" type="date" class="form-control" placeholder="mm/dd/yyyy"
              formControlName="date_became_homeless" style="float:right;" />
          </div>
        </div>
        <div class="form-group row">
          <label for="rfh" class="col-6 col-form-label"><span style="background-color: yellow;">Reason for
              Homelessness:</span> </label>
          <div class="col-6">
            <select id="rfh" class="form-control" #item formControlName="homeless_reason"
              (change)="onChange(item.value)">
              <option *ngFor="let option of homelessReasonOptions" [value]="option">{{option}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"></label>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Reason" *ngIf="extraInfoNeeded"
              formControlName="otherHomelessReason" />
          </div>
        </div>
        <div class="form-group row">
          <label for="dwelling" class="col-6 col-form-label">Dwelling:<font color="red">*</font> </label>
          <div class="col-6">
            <select id="dwelling" class="form-control" style="float:right;" formControlName="dwelling">
              <option value="Abandoned Structure">Abandoned Structure</option>
              <option value="Apartment">Apartment</option>
              <option value="Broken Down Van">Broken Down Van</option>
              <option value="Camper">Camper</option>
              <option value="Couch Surfing">Couch Surfing</option>
              <option value="Garage">Garage</option>
              <option value="House">House</option>
              <option value="Mobile Home">Mobile Home</option>
              <option value="Motel">Motel</option>
              <option value="Shack">Shack</option>
              <option value="Shelter">Shelter</option>
              <option value="Tent">Tent</option>
              <option value="Streets">Streets</option>
              <option value="Under Bridge">Under Bridge</option>
              <option value="Vehicle">Vehicle</option>
              <option value="Unknown">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="where_sleep_last_night" class="col-6 col-form-label">Where Did You Sleep Last Night?: </label>
          <div class="col-6">
            <select id="where_sleep_last_night" class="form-control" style="float:right;"
              formControlName="where_sleep_last_night">
              <option value="Abandoned Structure">Abandoned Structure</option>
              <option value="Apartment">Apartment</option>
              <option value="Broken Down Van">Broken Down Van</option>
              <option value="Camper">Camper</option>
              <option value="Couch Surfing">Couch Surfing</option>
              <option value="Garage">Garage</option>
              <option value="House">House</option>
              <option value="Mobile Home">Mobile Home</option>
              <option value="Motel">Motel</option>
              <option value="Shack">Shack</option>
              <option value="Shelter">Shelter</option>
              <option value="Tent">Tent</option>
              <option value="Streets">Streets</option>
              <option value="Under Bridge">Under Bridge</option>
              <option value="Vehicle">Vehicle</option>
              <option value="Unknown">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="dm" class="col-6 col-form-label">Date Moved (Date must be MM/DD/YYYY): </label>
          <div class="col-6">
            <input id="dm" type="date" class="form-control" placeholder="mm/dd/yyyy" formControlName="date_moved"
              style="float:right;" />
          </div>
        </div>
        <div class="form-group row">
          <label for="highest_level_education" class="col-6 col-form-label">Highest Level of Education: </label>
          <div class="col-6">
            <select id="highest_level_education" class="form-control" formControlName="highest_level_education"
              style="float:right;">
              <option value="K-8">K-8</option>
              <option value="9-12">9-12</option>
              <option value="College 2 or 4 yr Degree">College 2 or 4 yr Degree</option>
              <option value="College Advanced Degree">College Advanced Degree</option>
              <option value="Drop Out K-12">Drop Out K-12</option>
              <option value="HS Grad/GED">HS Grad/GED</option>
              <option value="HS Grad / Some College">HS Grad / Some College</option>
              <option value="No Schooling">No Schooling</option>
              <option value="Not Selected">Not Selected</option>
              <option value="Pre-K and younger (Currently)">Pre-K and younger (Currently)</option>
              <option value="Unknown">Unknown</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="what_brought_to_des_moines" class="col-6 col-form-label">What Brought You to Des Moines?: </label>
          <div class="col-6">
            <select id="what_brought_to_des_moines" class="form-control" formControlName="what_brought_to_des_moines"
              #bdm style="float:right;" (change)="onReasonForDesMoinesChange(bdm.value)">
              <option value="Better Homeless Services">Better Homeless Services</option>
              <option value="Family">Family</option>
              <option value="Friend">Friend</option>
              <option value="School">School</option>
              <option value="Work/Job">Work/Job</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"></label>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Reason" *ngIf="extraInfoNeededReasonForDesMoines"
              formControlName="otherReasonForDesMoines" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-form-label">What City and State Did You Live In Before You Became Homeless?<font
              color="red">*</font>: </label>
          <div class="col-3">
            <input class="form-control" formControlName="city_before_homelessness" style="float:right"
              placeholder="City" />
          </div>
          <div class="col-3">
            <select id="state_before_homelessness" class="form-control" formControlName="state_before_homelessness"
              style="float:right;" placeholder>
              <option value="" disabled selected>State</option>
              <option value="Unknown">Unknown</option>
              <option value="Alabama">Alabama</option>
              <option value="Alaska">Alaska</option>
              <option value="Arizona">Arizona</option>
              <option value="Arkansas">Arkansas</option>
              <option value="California">California</option>
              <option value="Colorado">Colorado</option>
              <option value="Connecticut">Connecticut</option>
              <option value="Delaware">Delaware</option>
              <option value="District Of Columbia">District Of Columbia</option>
              <option value="Florida">Florida</option>
              <option value="Georgia">Georgia</option>
              <option value="Hawaii">Hawaii</option>
              <option value="Idaho">Idaho</option>
              <option value="Illinois">Illinois</option>
              <option value="Indiana">Indiana</option>
              <option value="Iowa">Iowa</option>
              <option value="Kansas">Kansas</option>
              <option value="Kentucky">Kentucky</option>
              <option value="Louisiana">Louisiana</option>
              <option value="Maine">Maine</option>
              <option value="Maryland">Maryland</option>
              <option value="Massachusetts">Massachusetts</option>
              <option value="Michigan">Michigan</option>
              <option value="Minnesota">Minnesota</option>
              <option value="Mississippi">Mississippi</option>
              <option value="Missouri">Missouri</option>
              <option value="Montana">Montana</option>
              <option value="Nebraska">Nebraska</option>
              <option value="Nevada">Nevada</option>
              <option value="New Hampshire">New Hampshire</option>
              <option value="New Jersey">New Jersey</option>
              <option value="New Mexico">New Mexico</option>
              <option value="New York">New York</option>
              <option value="North Carolina">North Carolina</option>
              <option value="North Dakota">North Dakota</option>
              <option value="Ohio">Ohio</option>
              <option value="Oklahoma">Oklahoma</option>
              <option value="Oregon">Oregon</option>
              <option value="Pennsylvania">Pennsylvania</option>
              <option value="Rhode Island">Rhode Island</option>
              <option value="South Carolina">South Carolina</option>
              <option value="South Dakota">South Dakota</option>
              <option value="Tennessee">Tennessee</option>
              <option value="Texas">Texas</option>
              <option value="Utah">Utah</option>
              <option value="Vermont">Vermont</option>
              <option value="Virginia">Virginia</option>
              <option value="Washington">Washington</option>
              <option value="West Virginia">West Virginia</option>
              <option value="Wisconsin">Wisconsin</option>
              <option value="Wyoming">Wyoming</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="veteran" class="col-6 col-form-label">Is Veteran:</label>
          <div class="col-6">
            <select name="veteran" id="veteran" class="form-control" #veteranitem style="float:right;"
              (change)="onVeteranChange(veteranitem.value)" formControlName="is_veteran">
              <option value="null" disabled selected>Unknown</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="diagnosed_mental_physical_disability" class="col-6 col-form-label">Has Diagnosed Physical or
            Mental Disability:</label>
          <div class="col-6">
            <select name="diagnosed_mental_physical_disability" id="diagnosed_mental_physical_disability"
              class="form-control" #diagnoseditem style="float:right;" (change)="onDiagnosedChange(diagnoseditem.value)"
              formControlName="diagnosed_mental_physical_disability">
              <option value="null" disabled selected>Unknown</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="aftercare" class="col-6 col-form-label">Is After Care:</label>
          <div class="col-6">
            <select name="aftercare" id="aftercare" #aftercareitem class="form-control" style="float:right;"
              (change)="onAftercareChange(aftercareitem.value)" formControlName="is_aftercare">
              <option value="null" disabled selected>Unknown</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="mailbox" class="col-6 col-form-label">Mailbox: </label>
          <div class="col-6">
            <input id="mailbox" type="text" class="form-control" style="float:right;" placeholder="Joppa Mailbox Number"
              formControlName="joppa_apartment_number" />
          </div>
        </div>
        <div class="form-group row">
          <label for="camp-latitude" class="col-6 col-form-label">Camp Latitude: </label>
          <div class="col-3">
            <button class="btn btn-primary" style="float: right" (click)="getCurrentLocation()">
              Get Current Location for Camp
            </button>
          </div>
          <div class="col-3">
            <input id="camp-latitude" type="text" class="form-control" placeholder="camp latitude"
              formControlName="latitude" />
          </div>
        </div>
        <div class="form-group row">
          <label for="camp-longitude" class="col-9 col-form-label">Camp Longitude: </label>
          <div class="col-3">
            <input id="camp-longitude" type="text" class="form-control" style="float: right"
              placeholder="Camp Longitude" formControlName="longitude" />
          </div>
        </div>
        <div class="form-group row">
          <label for="status" class="col-6 col-form-label">Status: </label>
          <div class="col-6">
            <select id="status" class="form-control" style="float:right;" formControlName="status">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
              <option value="Alumni">Alumni</option>
              <option value="Deceased">Deceased</option>
            </select>
          </div>
        </div>
        <div class="form-group row" *ngIf="isAdmin">
          <label for="admin-notes" class="col-6 col-form-label">Admin Notes: </label>
          <div class="col-6">
            <textarea id="admin-notes" type="text" class="form-control" rows="3" placeholder="admin notes"
              style="float:right;" formControlName="admin_notes"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <img [src]="url" *ngIf="url != null && url != ''">
          <label for="client-picture" class="col-6 col-form-label">Image:</label>
          <div class="col-6">
            <input id="client-picture" type="file" accept="image/*" (change)="onAdd($event)" width="300" height="300"
              class="form-control" style="float:right;" formControlName="client_picture" />
            <button id="clear-picture" class="btn btn-outline-primary" (click)="clearPicture()" *ngIf="isAdmin">Clear
              Photo</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-right">
    <button type="button" class="btn btn-outline-primary" style="float:left;" (click)="close()">Close</button>
    <button class="btn btn-primary" type="button" style="float:right;" [disabled]="!clientForm.valid"
      (click)="submitClient()">Save Client</button>
  </div>
</div>