<ng-template #editModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Route Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="routeForm" style="opacity:0.93">
      <div class="login-box">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label>Name: </label>
            <input type="text" class="float-right" placeholder="Name" formControlName="name" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label>Region: </label>
            <input type="text" class="float-right" placeholder="Region" formControlName="region" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label>Active: </label>
            <input type="checkbox" class="float-right" formControlName="is_active" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="!routeForm.valid" (click)="submitRoute(); c('');" class="btn btn-primary">Submit Route</button>
    <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>