<ng-template #editModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Route Details</h4>
    <button type="button" class="btn btn-primary" aria-label="Close" (click)="d('Cross click')"><span
        aria-hidden="true">x</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="routeForm" style="opacity:0.93">
      <div class="login-box">
        <div class="row">
          <div class="form-group">
            <label>Name: </label>
            <input type="text" class="form-control" style="max-width: 50%;" placeholder="Name" formControlName="name" />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Region: </label>
            <input type="text" class="form-control" style="max-width: 50%;" placeholder="Region" formControlName="region" />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="checkbox" class="form-check-input" style="margin-right:5px;" formControlName="is_active" />
            <label class="form-check-label">Active</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="!routeForm.valid" (click)="submitRoute(); c('');" class="btn btn-primary">Submit Route</button>
    <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>