<div class="card text-center" style="opacity:0.93">
  <div class="card-header">
    <h4 class="text-center">Loginnn</h4>
  </div>
  <div class="panel-body">
    <form [formGroup]="passwordForm">
      <div class="entry-box">
        <div class="col-md-12">
          <label>Password: </label>
          <input type="password" formControlName="the_password" />
        </div>
        <div class="col-md-12">
          <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
        </div>
        <p style="color:red;" *ngIf="invalidText">Login Not Valid</p>
      </div>
    </form>
  </div>
</div>