<div class="card text-center" style="opacity:0.93">
  <div class="card-header">
    <h4 class="text-center">Admin Login</h4>
    <button type="button" class="btn btn-primary" (click)="back()">Back</button>
  </div>
  <div class="panel-body">
    <form [formGroup]="adminPasswordForm">
      <div class="entry-box">
        <div class="col-md-12">
          <label>Password: </label>
          <input type="password" formControlName="admin_password" />
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" [disabled]="!adminPasswordForm.valid" (click)="attemptAdminLogin()">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>