<div class="card text-center" style="opacity: 0.93">
  <div class="card-header text-center">
    <h2 class="text-left">{{ route.name }} -> {{ locationCamp.name }}</h2>
    <h5 class="text-left">{{ locationCamp.notes }}</h5>
    <h5 class="text-left">
      <span class="bg-warning">{{ locationCamp.admin_notes }}</span>
    </h5>
    <h5 class="text-left" *ngIf="erroredClients !== ''">
      <span class="bg-danger text-white">Clients Needing Dwelling: {{ erroredClients }}</span>
    </h5>
    <h5 class="text-left">Stop {{ currentStopNumber }}/{{ totalStopsAmount }}</h5>
    <h5 class="text-left">Expected arrival time: {{ expectedArrivalTime | date: "shortTime" }}</h5>
    <p class="text-left" *ngIf="heatRoute">
      <b>Number of People with Tanks: {{ numPeopleWithTanksAtCamp }}</b><br />
      <b>Total Tanks: {{ numberTanksAtCamp }}</b>
    </p>
    <div class="d-flex flex-wrap justify-content-between">
      <button (click)="showMap()" type="button" class="btn btn-primary mb-2">
        <fa-icon [icon]="mapIcon"></fa-icon> Show Directions
      </button>
      <button (click)="showParkingMap()" type="button" class="btn btn-primary mb-2">
        <fa-icon [icon]="mapIcon"></fa-icon> Show Map - Parking
      </button>
      <button type="button" *ngIf="isAdmin && locationCampId == 449" class="btn btn-primary mb-2" (click)="goToAdminHome()">
        Admin Home
      </button>
      <button type="button" class="btn btn-primary mb-2" (click)="campEditMdl.showModal(locationCamp)">
        Location Info <fa-icon [icon]="informationIcon"></fa-icon>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="card">
      <h3 class="text-left">Clients</h3>
      <div class="d-flex flex-wrap justify-content-between">
        <button type="button" (click)="clientMdl.showModal()" class="btn btn-primary mb-2" *ngIf="!route.is_aftercare || isAdmin">
          <fa-icon [icon]="searchIcon"></fa-icon> Search Clients
        </button>
        <button type="button" (click)="createClient()" class="btn btn-primary mb-2" *ngIf="!route.is_aftercare || isAdmin">
          <fa-icon [icon]="createIcon"></fa-icon> Create Client
        </button>
      </div>
    </div>
    <div>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Dwelling</th>
            <th class="text-left">Mailbox</th>
            <th class="text-left">Phone</th>
            <th class="text-left">Admin Notes</th>
            <th class="text-left">Last Interaction</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients" (click)="viewClient(client)" class="client-row">
            <td class="text-left">
              <fa-icon style="color: #0d6efd" [icon]="mapIcon" *ngIf="client.has_location"></fa-icon>&nbsp;
              <span
                [className]="
                  client.information_missing_or_unknown == 'missing'
                    ? 'missing'
                    : client.information_missing_or_unknown == 'unknown'
                    ? 'unknown'
                    : ''
                "
              ></span>
              {{ client.first_name }}
              <span *ngIf="client.preferred_name != '' && client.preferred_name != null">
                ({{ client.preferred_name }})
              </span>
              {{ client.last_name }}
              <fa-icon
                id="star"
                style="color: #0d6efd"
                [icon]="starIcon"
                *ngIf="clientHasFulfilledItems(client.id)"
              ></fa-icon>
            </td>
            <td class="text-left">{{ client.dwelling }}</td>
            <td class="text-left">{{ client.joppa_apartment_number }}</td>
            <td class="text-left">{{ client.phone }}</td>
            <td class="text-left">{{ client.admin_notes }}</td>
            <td class="text-left">
              <fa-icon
                id="attendanceIcon"
                [style.color]="getAttendanceColor(client)"
                [icon]="getAttendanceIcon(client)"
              ></fa-icon>
              {{ client.last_interaction_date }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card" *ngIf="!route.is_aftercare">
      <h3 class="text-left">Notes</h3>
      <div class="d-flex justify-content-end">
        <button type="button" (click)="campNotesMdl.showModal()" class="btn btn-primary mb-2">
          New Note
        </button>
      </div>
    </div>
    <table class="table table-responsive" id="camp-notes" *ngIf="!route.is_aftercare">
      <thead>
        <tr>
          <th>Date Added</th>
          <th>Note</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of campNotes">
          <td>{{ note.created_at | date: "short" }}</td>
          <td>{{ note.note }}</td>
          <td *ngIf="isAdmin">
            <button type="button" class="btn btn-primary" (click)="removeCampNote(note.id)">
              Remove
            </button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-wrap justify-content-between">
      <button type="button" class="btn btn-primary mb-2" (click)="back()">
        <fa-icon [icon]="backIcon"></fa-icon> Back to Camp List
      </button>
      <button
        type="button"
        class="btn btn-primary mb-2"
        *ngIf="isAdmin"
        (click)="backToCampListing()"
      >
        <fa-icon [icon]="backIcon"></fa-icon> Back to Camp Listing
      </button>
      <button (click)="nextStop()" type="button" class="btn btn-primary mb-2" *ngIf="locationCampList != null">
        Next Stop <fa-icon [icon]="forwardIcon"></fa-icon>
      </button>
      <button (click)="markRemainingNotSeenNotServiced()" type="button" class="btn btn-primary mb-2">
        <fa-icon [icon]="userMinus"></fa-icon> Mark remaining clients not seen / serviced
      </button>
    </div>
  </div>
</div>
<app-client-search #clientMdl (clientSelected)="clientSelected($event)"></app-client-search>
<app-camp-edit-modal #campEditMdl (editedCamp)="editedCamp($event)"></app-camp-edit-modal>
<camp-notes #campNotesMdl (campNoteAdded)="campNoteAdded($event)"></camp-notes>