<div class="panel panel-info" style="opacity:0.92">
  <div class="panel-heading text-center" style="opacity:0.93">
    <button type="button" class="pull-left btn btn-primary" (click)="back()">Back</button>
    <h2>{{thisRoute.name}}</h2>
    <div class="float-right"><button (click)="newLocation()" class="btn btn-primary" type="button">New Location</button></div>
  </div>
  <div class="panel-body">
    <div *ngFor="let location of locations" class="location-div text-center" (click)="openLocation(location)">
      <b>{{location.name}}</b>
    </div>
  </div>
</div>
