<div class="modal-header">
    <h4 class="modal-title">Date Seen</h4>
    <button type="button" class="btn btn-primary" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">x</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-group row">
            <label for="date_seen" class="form-control-label">Date Seen (if today, just click submit)</label>
            <input id="date_seen" name="date_seen" type="date" class="form-control" [(ngModel)]="date_seen" />
        </div>
    </div>
</form>
<div class="modal-footer d-flex justify-content-between flex-wrap">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close()">Don't Save</button>
    <button type="button" class="btn btn-primary" (click)="submitDate()">Save</button>
</div>