<div class="card text-center" style="opacity:0.93">
  <div class="card-header text-center" id="topOfScreen">
    <button type="button" class="pull-left btn btn-primary" (click)="back()">Back</button>
    <h2>{{client.preferredName}}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngIf="!sentInteraction">
        <button type="button" class="btn btn-primary" (click)="sendInteraction(1)">Serviced & Seen</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="sendInteraction(2)">Serviced & Not Seen</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="sendInteraction(3)">No longer lives here</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="sendInteraction(4)">Seen but not serviced</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h4>Requested Items <button type="button" (click)="goToTop();requestItemMdl.showModal()" class="btn btn-secondary">New</button></h4>
        <table class="table" id="items">
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of requestedItems">
              <td>{{item.item_description}}</td>
              <td>{{item.created_at | date: 'shortDate'}}</td>
              <td><button type="button" class="btn btn-primary" (click)="deleteRequest()">Remove</button>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6 col-md-12">
        <h4>Goals/Next Steps <button type="button" (click)="goToTop();goalMdl.showModal()" class="btn btn-secondary">New</button></h4>
        <table class="table" id="goals">
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let goal of goalsAndSteps">
              <td>
                {{goal.description}}
              </td>
              <td>
                {{goal.created_at | date:'shortDate'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6 col-md-12">
        <h4>Likes <button type="button" class="btn btn-secondary" (click)="goToTop();likeMdl.showModal()">New</button></h4>
        <table class="table" id="likes">
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let like of clientLikes">
              <td>
                {{like.description}}
              </td>
              <td>
                {{like.created_at | date:'shortDate'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6 col-md-12">
        <h4>Dislikes <button type="button" (click)="goToTop();dislikeMdl.showModal()" class="btn btn-secondary">New</button></h4>
        <table class="table" id="dislikes">
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dislike of clientDislikes">
              <td>
                {{dislike.description}}
              </td>
              <td>
                {{dislike.created_at | date:'shortDate'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6 col-md-12">
        <h4>Health Concerns <button type="button" (click)="goToTop();healthMdl.showModal()" class="btn btn-secondary">New</button></h4>
        <table class="table" id="concerns">
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let concern of healthConcerns">
              <td>
                {{concern.description}}
              </td>
              <td>
                {{concern.created_at | date:'shortDate'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--these are the modals for inserting new stuff-->
<app-client-like #likeMdl (likeAdded)="likeAdded($event)"></app-client-like>
<app-client-dislike #dislikeMdl (dislikeAdded)="dislikeAdded($event)"></app-client-dislike>
<app-requested-item #requestItemMdl (requestedItemAdded)="requestedItemAdded($event)"></app-requested-item>
<app-goals-steps #goalMdl (goalAdded)="goalAdded($event)"></app-goals-steps>
<app-health-concern #healthMdl (healthConcernAdded)="healthConcernAdded($event)"></app-health-concern>