<div class="card text-left" style="opacity: 0.93">
  <div class="card-header" id="topOfScreen">
    <h2>
      {{ client.first_name }}
      <span *ngIf="client.preferred_name != '' && client.preferred_name != null">({{ client.preferred_name }})</span>
      {{ client.last_name }}
    </h2>
    &nbsp;
    <div *ngIf="client.admin_notes !== ''">
      <h4>Admin Notes:</h4>
      <p>
        <span style="background-color: yellow">
          {{ client.admin_notes }}
        </span>
      </p>
    </div>
    &nbsp;
    <div *ngIf="pinnedNoteString !== ''">
      <h4>Pinned Notes:</h4>
      <p [innerText]="pinnedNoteString" style="background-color: orange;"></p>
    </div>
    &nbsp;
    <div>
      <img [src]="url" width="20%" height="20%" *ngIf="url !== 'data:image/png;base64,null' && url != '' && url != null">
      <button #clientInfo class="btn btn-primary" style="float: right" (click)="clientEditMdl.openModal(client)"type="button">
        Client Info <fa-icon [icon]="informationIcon"></fa-icon>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 col-md-12" *ngIf="heatRoute || isAdmin">
        <h4>
          Heating Equipment
          <button type="button" (click)="loanHeater()" class="btn btn-primary" style="float: right">
            New Heater
          </button>
          <button type="button" (click)="loanTank()" class="btn btn-primary" hidden>
            Add Tank
          </button>
          <button type="button" (click)="loanHose()" class="btn btn-primary" hidden>
            Add Hose
          </button>
        </h4>
        <table class="table" id="items">
          <thead>
            <tr>
              <th>Heater Type</th>
              <th>Serial #</th>
              <th>Date Given</th>
              <th>Action</th>
              <th>Submit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let heater of heaters">
              <td>{{ heater.type_description }}</td>
              <td>{{ heater.serial_number }}</td>
              <td>{{ heater.updated_at | date: "shortDate" }}</td>
              <td>
                <select class="form-control" #heaterStatus (change)="heaterStatusChanged(heaterStatus.value)">
                  <option *ngFor="let option of heaterStatuses" value="{{ option.id }}">
                    {{ option.status_name }}
                  </option>
                </select>
              </td>
              <td>
                <button type="button" (click)="submitHeaterStatus(heater.id, heaterStatus.value)"
                  class="btn btn-primary" *ngIf="currentStatus != 2">
                  Submit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="(heatRoute || isAdmin) && heatEquipmentNotReturned.length > 0">
        <h4>Heat Equipment Not Returned</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Status</th>
              <th>Date Loaned</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipment of heatEquipmentNotReturned">
              <td>{{ equipment.Type }}</td>
              <td>
                <span *ngIf="equipment.status_id == 4">Stolen</span>
                <span *ngIf="equipment.status_id == 5">Lost</span>
                <span *ngIf="equipment.status_id == 6">Destroyed</span>
                <span *ngIf="equipment.status_id == 7">Broken</span>
                <span *ngIf="equipment.status_id == 8">Evicted</span>
              </td>
              <td>{{ equipment.created_at | date: "shortDate" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="padding-bottom: 12px" *ngIf="heatRoute || isAdmin">
        <div class="col-md-12">
          <h5>
            Tanks/Hoses
            <button type="button" class="btn btn-primary" (click)="updateNumberTanksHoses(client)" hidden>
              Update Tanks/Hoses
            </button>
          </h5>
        </div>
        <div class="form-group">
          <label>Number Tanks: </label>
          <input class="form-control" style="max-width: 25%" type="text" placeholder="0"
            (change)="updateNumberTanksHoses(client)" [(ngModel)]="client.number_tanks" />
          <span *ngIf="updateHoseTankMessageVisible" class="alert alert-success">Tank/Hose Updated</span>
        </div>
        <div class="form-group">
          <label>Number Hoses: </label>
          <input type="text" class="form-control" style="max-width: 25%" placeholder="0"
            (change)="updateNumberTanksHoses(client)" [(ngModel)]="client.number_hoses" />
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <h4>
          Circle of Friends
          <button type="button" (click)="goToTop(); clientCircleOfFriendsMdl.showModal()" class="btn btn-primary"
            style="float: right"  *ngIf="isAdmin">
            New Friend
          </button>
        </h4>
        <table class="table" id="circle-of-friends">
          <colgroup>
            <col span="1" style="width: 20%" />
            <col span="1" style="width: 20%" />
            <col span="1" style="width: 20%" />
            <col span="1" style="width: 20%" />
            <col span="1" style="width: 20%" />
          </colgroup>
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Notes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let friend of circleOfFriends">
              <td>{{ friend.volunteer_name }}</td>
              <td>{{ friend.phone_number }}</td>
              <td>{{ friend.email }}</td>
              <td>{{ friend.notes }}</td>
              <td>
                <button type="button" class="btn btn-primary" *ngIf="isAdmin" (click)="removeClientFriend(friend.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-12 col-md-12" *ngIf="!heatRoute">
        <div class="background-color">
          <h4>
            Dwelling History
            <button type="button" (click)="goToTop(); clientDwellingMdl.showModal()" class="btn btn-primary"
              style="float: right">
              New Dwelling
            </button>
          </h4>
          <table class="table" id="items">
            <colgroup>
              <col span="1" style="width: 20%" />
              <col span="1" style="width: 20%" />
              <col span="1" style="width: 20%" />
              <col span="1" style="width: 20%" />
              <col span="1" style="width: 20%" />
            </colgroup>
            <thead>
              <tr>
                <th>First Time Homeless?</th>
                <th>Date Became Homeless</th>
                <th>Dwelling Location</th>
                <th>Reason for Homelessness</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dwellings">
                <td>{{ item.first_time_homeless ? 'Yes' : 'No' }}</td>
                <td>{{ item.date_became_homeless | date: "shortDate" }}</td>
                <td>{{ item.dwelling }}</td>
                <td>{{ item.homeless_reason }}</td>
                <td>{{ item.notes }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="removeClientDwelling(item.id)" *ngIf="isAdmin">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-12 col-md-12" *ngIf="!heatRoute">
        <h4>
          Requested Items
          <button type="button" (click)="goToTop(); requestItemMdl.showModal()" class="btn btn-primary"
            style="float: right">
            New Item
          </button>
        </h4>
        <table class="table" id="items">
          <colgroup>
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
          </colgroup>
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
              <th>On Cart</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of requestedItems">
              <td>{{ item.item_description }}</td>
              <td>{{ item.created_at | date: "shortDate" }}</td>
              <td>{{ item.fulfilled ? 'Yes' : 'No' }}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="receivedRequest(item.id)">
                  Received
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)="deleteRequest(item.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="receivedItems.length > 0 && !heatRoute" class="col-lg-12 col-md-12">
        <!-- added !heatRoute from ngIf to pare down heat screen -->
        <h4>Recently Received Items</h4>
        <table class="table" id="items">
          <colgroup>
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
          </colgroup>
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
              <th>Received At</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of receivedItems">
              <td>{{ item.item_description }}</td>
              <td>{{ item.created_at | date: "shortDate" }}</td>
              <td>{{ item.updated_at | date: "shortDate" }}</td>
              <td></td>
              <td>
                <button type="button" class="btn btn-primary" (click)="removeReceivedItem(item.id)" *ngIf="isAdmin">
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="isAdmin">
        <!-- removed !heatRoute from ngIf to pare down screen -->
        <div class="background-color">
          <h4>
            Goals/Next Steps
            <button type="button" (click)="goToTop(); goalMdl.showModal()" class="btn btn-primary" style="float: right">
              New Goal/Next Step
            </button>
          </h4>
          <table class="table" id="goals">
            <colgroup>
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
            </colgroup>
            <thead>
              <tr>
                <th>Description</th>
                <th>Created At</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let goal of goalsAndSteps">
                <td>
                  {{ goal.description }}
                </td>
                <td>
                  {{ goal.created_at | date: "shortDate" }}
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="completedGoal(goal)">
                    Completed
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="removeGoal(goal.id)">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="isAdmin">
        <!-- removed !heatRoute from ngIf to pare down screen -->
        <h4>
          Prayer Requests/Needs
          <button type="button" (click)="goToTop(); prayerRequestsNeedsMdl.showModal()" class="btn btn-primary"
            style="float: right">
            New Prayer Request/Need
          </button>
        </h4>
        <table class="table" id="prayerRequestsNeeds">
          <colgroup>
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
          </colgroup>
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of prayerRequestsAndNeeds">
              <td>
                {{ request.detail }}
              </td>
              <td>
                {{ request.created_at | date: "shortDate" }}
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)="removePrayerRequestNeed(request.id)">
                  Remove
                </button>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="isAdmin">
        <!-- removed !heatRoute from ngIf to pare down screen -->
        <div class="background-color">
          <h4>
            Likes
            <button type="button" class="btn btn-primary" style="float: right" (click)="goToTop(); likeMdl.showModal()">
              New Like
            </button>
          </h4>
          <table class="table" id="likes">
            <colgroup>
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
            </colgroup>
            <thead>
              <tr>
                <th>Description</th>
                <th>Created At</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let like of clientLikes">
                <td>
                  {{ like.description }}
                </td>
                <td>
                  {{ like.created_at | date: "shortDate" }}
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="removeLike(like.id)">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="isAdmin">
        <!-- removed !heatRoute from ngIf to pare down screen -->
        <h4>
          Dislikes
          <button type="button" (click)="goToTop(); dislikeMdl.showModal()" class="btn btn-primary"
            style="float: right">
            New Dislike
          </button>
        </h4>
        <table class="table" id="dislikes">
          <colgroup>
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
          </colgroup>
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dislike of clientDislikes">
              <td>
                {{ dislike.description }}
              </td>
              <td>
                {{ dislike.created_at | date: "shortDate" }}
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)="removeDislike(dislike.id)">
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="background-color">
          <h4>
            Notes
            <button type="button" (click)="goToTop(); notesMdl.showModal()" class="btn btn-primary" style="float: right">
              New Note
            </button>
          </h4>
          <table class="table" id="notes">
            <colgroup>
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
            </colgroup>
            <thead>
              <tr>
                <th>Date Added</th>
                <th>Source</th>
                <th>Note</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let note of notes">
                <td>{{ note.created_at | date: "short" }}</td>
                <td><select id="note_type" class="form-control" style="float: left" #hrt [(ngModel)]="note.source" name="note_type" (change)="onNoteTypeChange(note)">
                  <option value="Resource Center" *ngIf="isAdmin">Resource Center</option>
                  <option value="Phone" *ngIf="isAdmin">Phone</option>
                  <option value="Email" *ngIf="isAdmin">Email</option>
                  <option value="Circle of Friends" *ngIf="isAdmin">Circle of Friends</option>
                  <option value="Outreach">Outreach</option>
                  <option value="Aftercare">Aftercare</option>
                  <option value="Meeting" *ngIf="isAdmin">Meeting</option>
                  <option value="Heat">Heat</option>
                  <option value="WARNING" *ngIf="isAdmin">WARNING</option>
                  <option value="PINNED NOTE" *ngIf="isAdmin">PINNED NOTE</option>
                </select></td>
                <td>{{ note.note }}</td>
                <td *ngIf="isAdmin">
                  <button type="button" class="btn btn-primary" (click)="removeNote(note.id)">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <h4>
          Tent
          <button type="button" (click)="goToTop(); tentMdl.showModal()" class="btn btn-primary" style="float: right">
            New Tent
          </button>
        </h4>
        <table class="table" id="tents">
          <colgroup>
            <col span="1" style="width: 12%" />
            <col span="1" style="width: 12%" />
            <col span="1" style="width: 12%" />
            <col span="1" style="width: 12%" />
            <col span="1" style="width: 12%" />
            <col span="1" style="width: 12%" />
            <col span="1" style="width: 12%" />
            <col span="1" style="width: 12%" />
          </colgroup>
          <thead>
            <tr>
              <th>Date Added</th>
              <th>Tent Type</th>
              <th>Condition</th>
              <th>Given by</th>
              <th>Set up by</th>
              <th>Rejected?</th>
              <th>Notes</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let tent of tents; let rowIndex = index">
              <td>{{ tent.date_given | date: "short" }}</td>
              <td>{{ tent.tent_type }}</td>
              <td>{{ tent.condition }}</td>
              <td>{{ tent.given_by }}</td>
              <td>{{ tent.setup_by }}</td>
              <td>{{ tent.rejected ? 'Yes' : 'No' }}</td>
              <td>{{ tent.notes }}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="removeTent(tent.id)" *ngIf="isAdmin">
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="!heatRoute">
        <div class="background-color">
          <h4>
            Pets
            <button type="button" (click)="goToTop(); petsMdl.showModal()" class="btn btn-primary" style="float: right">
              New Pet
            </button>
          </h4>
          <table class="table" id="petList">
            <colgroup>
              <col span="1" style="width: 16%" />
              <col span="1" style="width: 16%" />
              <col span="1" style="width: 16%" />
              <col span="1" style="width: 16%" />
              <col span="1" style="width: 16%" />
              <col span="1" style="width: 16%" />
            </colgroup>
            <thead>
              <tr>
                <th>Pet Type</th>
                <th>Name</th>
                <th>Breed</th>
                <th>Age</th>
                <th>Food Requested</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pet of pets">
                <td>
                  {{ pet.pet_type }}
                </td>
                <td>
                  <input type="text" class="form-control" style="max-width: 75%" (change)="updatePetInfo(pet)"
                    [(ngModel)]="pet.pet_name" />
                </td>
                <td>
                  <input type="text" class="form-control" style="max-width: 75%" (change)="updatePetInfo(pet)"
                    [(ngModel)]="pet.breed" />
                </td>
                <td>
                  <input type="text" class="form-control" style="max-width: 75%" (change)="updatePetInfo(pet)"
                    [(ngModel)]="pet.age" />
                </td>
                <td>
                  <button type="button" class="btn btn-outline-primary" (click)="updateNeedPetFood(pet)">{{
                    pet.food_requested ? 'Yes' : 'No' }}</button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="removePet(pet.id)" *ngIf="isAdmin">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="isAdmin">
        <h4>
          Referrals/Resources
          <button type="button" (click)="goToTop(); referralsResourcesMdl.showModal()" class="btn btn-primary"
            style="float: right">
            New Referral/Resource
          </button>
        </h4>
        <table class="table" id="referralsResources">
          <colgroup>
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
          </colgroup>
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Quantity</th>
              <th>Notes</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let referral of referralsResources; let rowIndex = index">
              <td>{{ referral.created_at | date: "short" }}</td>
              <td>{{ referral.referral_type }}</td>
              <td>{{ referral.quantity }}</td>
              <td>{{ referral.notes }}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="removeReferralResource(referral.id)">
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 col-md-12">
        <!-- removed !heatRoute from ngIf to pare down screen -->
        <h4>
          Health Concerns
          <button type="button" (click)="goToTop(); healthMdl.showModal()" class="btn btn-primary" style="float: right" *ngIf="isAdmin">
            New Health Concern
          </button>
        </h4>
        <table class="table" id="concerns">
          <colgroup>
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
          </colgroup>
          <thead>
            <tr>
              <th>Description</th>
              <th>Created At</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let concern of healthConcerns">
              <td>
                {{ concern.description }}
              </td>
              <td>
                {{ concern.created_at | date: "shortDate" }}
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)="removeHealthConcern(concern.id)" *ngIf="isAdmin">
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="isAdmin">
        <div class="background-color">
          <h4>
            Household
            <button type="button" (click)="goToTop(); clientMdl.showModal()" class="btn btn-primary"
              style="float: right">New Household Member</button>
          </h4>
          <table class="table" id="household">
            <colgroup>
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
            </colgroup>
            <thead>
              <tr>
                <th>Name</th>
                <th>Relationship</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let houseclient of householdClients">
                <td>
                  {{ houseclient.first_name }} <span
                    *ngIf="houseclient.preferred_name != '' && houseclient.preferred_name != null">({{
                    houseclient.preferred_name }})</span> {{ houseclient.last_name }}
                </td>
                <td>
                  <select id="household_relationship_type" class="form-control" style="float: left" #hrt [(ngModel)]="houseclient.household_relationship_type" *ngIf="houseclient.id != houseclient.household_id" name="household_relationship_type" (change)="onHouseholdRelationshipTypeChange(houseclient)">
                    <option value="" disabled selected>Select your option</option>
                    <option>Parent</option>
                    <option>Sibling</option>
                    <option>Cousin</option>
                    <option>Caretaker</option>
                    <option>Grandparent</option>
                    <option>Spouse/Partner</option>
                    <option>Child</option>
                  </select>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="viewClient(houseclient)" *ngIf="isAdmin && houseclient.id != client.id">
                    Go To Client
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="removeHouseholdClient(houseclient)" *ngIf="houseclient.id != houseclient.household_id">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="isAdmin">
        <h4>Weekly Attendance</h4>
        <div>
          From Date:
          <input type="date" name="attendanceFromDate" [(ngModel)]="attendanceFromDate" />
          To Date:
          <input type="date" name="attendanceToDate" [(ngModel)]="attendanceToDate" />
          <button type="button" class="btn btn-primary" style="margin-left: 5px" (click)="searchWeeklyAttendance()">
            Search
          </button>
        </div>
        <table class="table" id="weeklyAttendance">
          <colgroup>
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
            <col span="1" style="width: 25%" />
          </colgroup>
          <thead>
            <tr>
              <th>Date</th>
              <th>Seen</th>
              <th>Serviced</th>
              <th>Home Resource Center</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let interaction of clientInteractions">
              <td>
                {{ interaction.serviced_date | date: "short" }}
              </td>
              <td>
                {{ interaction.was_seen ? 'Yes' : 'No' }}
              </td>
              <td>
                {{ interaction.serviced ? 'Yes' : 'No' }}
              </td>
              <td>
                {{ interaction.at_homeless_resource_center ? 'Yes' : 'No' }}
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)="removeAppearance(interaction.id)" *ngIf="isAdmin">
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-12 col-md-12">
      <div class="col-md-12 text-left">
        <h4>Attendance</h4>
        <button type="button" [className]="
            appearance &&
            appearance.was_seen == true &&
            appearance.serviced == true
              ? 'btn btn-success'
              : 'btn btn-primary'
          " (click)="sendInteraction(1)" style="margin-right: 3px">
          <fa-icon [icon]="seenAndServicedIcon"></fa-icon> Seen & Serviced</button>&nbsp;
        <button type="button" [className]="
            appearance &&
            appearance.was_seen == false &&
            appearance.serviced == true
              ? 'btn btn-success'
              : 'btn btn-primary'
          " (click)="sendInteraction(2)" style="margin-right: 3px">
          <fa-icon [icon]="notSeenAndServicedIcon"></fa-icon> Serviced & Not
          Seen</button>&nbsp;
        <button type="button" [className]="
            appearance &&
            appearance.was_seen == false &&
            appearance.serviced == false
              ? 'btn btn-success'
              : 'btn btn-primary'
          " (click)="sendInteraction(4)" style="margin-right: 3px">
          <fa-icon [icon]="notSeenIcon"></fa-icon> Not Seen</button>&nbsp;
        <button type="button" *ngIf="isAdmin" [className]="
            appearance &&
            appearance.was_seen == false &&
            appearance.serviced == false &&
            appearance.still_lives_here == false
              ? 'btn btn-success'
              : 'btn btn-primary'
          " (click)="sendInteraction(3)" style="margin-right: 3px">
          No longer lives here</button>&nbsp;
        <button type="button" *ngIf="isAdmin" [className]="
            appearance &&
            appearance.was_seen == false &&
            appearance.serviced == false &&
            appearance.at_homeless_resource_center == true
              ? 'btn btn-success'
              : 'btn btn-primary'
          " (click)="sendInteraction(5)">
          Homeless Resource Center
        </button>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div>
      <button type="button" class="btn btn-primary" style="float: left" (click)="backToCamp()">
        <fa-icon [icon]="backIcon"></fa-icon> Back to Camp
      </button>
      <button type="button" class="btn btn-primary" style="margin-left: 1%; float: left" (click)="backToClientListing()"
        *ngIf="isAdmin">
        <fa-icon [icon]="backIcon"></fa-icon> Back to Client List
      </button>
    </div>
  </div>
</div>
<!--these are the modals for inserting new stuff-->
<app-client-like #likeMdl (likeAdded)="likeAdded($event)"></app-client-like>
<app-client-dislike #dislikeMdl (dislikeAdded)="dislikeAdded($event)"></app-client-dislike>
<app-requested-item #requestItemMdl (requestedItemAdded)="requestedItemAdded($event)"></app-requested-item>
<app-goals-steps #goalMdl (goalAdded)="goalAdded($event)"></app-goals-steps>
<app-health-concern #healthMdl (healthConcernAdded)="healthConcernAdded($event)"></app-health-concern>
<app-notes #notesMdl (noteAdded)="noteAdded($event)"></app-notes>
<app-client-edit-modal #clientEditMdl (editedClient)="editedClient($event)"></app-client-edit-modal>
<app-pets #petsMdl (petAdded)="petAdded($event)"></app-pets>
<app-prayer-requests-and-needs #prayerRequestsNeedsMdl (prayerRequestNeedAdded)="prayerRequestNeedAdded($event)">
</app-prayer-requests-and-needs>
<app-tents #tentMdl (tentAdded)="tentAdded($event)"></app-tents>
<app-client-dwellings #clientDwellingMdl (clientDwellingAdded)="clientDwellingAdded($event)">
</app-client-dwellings>
<app-referrals-resources #referralsResourcesMdl (referralResourceAdded)="referralResourceAdded($event)">
</app-referrals-resources>
<app-client-search #clientMdl (clientSelected)="clientSelected($event)"></app-client-search>
<app-client-circle-of-friends #clientCircleOfFriendsMdl (friendAdded)="friendAdded($event)">
</app-client-circle-of-friends>"