<ng-template #requestedItemMdl let-c="close" let-d="dismiss"> 
  <div class="modal-header">
    <h4 class="modal-title">Create Requested Item</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <form>
    <div class="modal-body">
      <div class="form-group">
       <div class="row">
         <div class="col-sm-4">
           <select id="focusMe" class="form-control" style="float:left;" #item [(ngModel)]="description" name="description" (change)="onChange(item.value)">
             <option>Blankets</option>
             <option>Tent</option>
             <option>Tarp</option>
             <option>Rope</option>
             <option>Socks</option>
             <option>AA Batteries</option>
             <option>AAA Batteries</option>
             <option>C Batteries</option>
             <option>D Batteries</option>
             <option>Other</option>
           </select>
         </div>
         <div class="col-sm-4">
            <input id="extraInfo" class="form-control" style="float:left;" type="text" [(ngModel)]="extraInfo" name="extraInfo" *ngIf="extraInfoNeeded" [placeholder]="placeholderText"/>
         </div>
       </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submitItem();c('')">Submit</button>
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>