<form [formGroup]="passwordForm">
  <div class="card text-center" style="opacity:0.93">
    <div class="card-header">
      <h2>Change Regular Password</h2>
    </div>
    <div class="panel-body" style="opacity:0.93">
      <div class="entry-box">
        <div class="col-md-12">
          <input type="text" class="float-right" placeholder="New Password" #newpswrd formControlName="new_password" />
        </div>
        <div class="col-md-12">
          <label>Confirm Password: </label>
          <input type="text" class="float-right" placeholder="Confirm Password" #confirmpswrd
            formControlName="confirm_password" />
        </div>
        <div class="col-md-12">
          <button type="button" [disabled]="newpswrd.value != confirmpswrd.value || !passwordForm.valid"
            (click)="submitPassword()" class="btn btn-secondary">Submit Password</button>
        </div>
        <span style="color:red;" *ngIf="newpswrd.value != confirmpswrd.value">Passwords do not match</span>
      </div>
    </div>
    <div class = "card-footer">
      <button routerLink="/adminHome" class="btn btn-primary" style="float: left" type="button">&#8249; Back</button>
    </div>
  </div>
</form>