<form [formGroup]="passwordForm">
  <div class="card text-center" style="opacity:0.93">
  <div class="card-header">
    <h2>Change Regular Password</h2>
  </div>
  <div class="panel-body" style="opacity:0.93">
  <div class="entry-box">
    <div class="col-md-12">
        <table align="right">
            <tr>
              <th></th>
            </tr>
          </table> 
      <label>New Password: </label>
      <input type="text" placeholder="New Password" #newpswrd formControlName="new_password"/>
    </div>
    <div class="col-md-12">
      <label>Confirm Password: </label>
      <input type="text" placeholder="Confirm Password" #confirmpswrd formControlName="confirm_password"/>
    </div>
    <div class="col-md-12">
      <button type="button" [disabled]="newpswrd.value != confirmpswrd.value || !passwordForm.valid" (click)="submitPassword()" class="btn btn-secondary">Submit Password</button>
    </div>
    <span style="color:red;" *ngIf="newpswrd.value != confirmpswrd.value">Passwords do not match</span>    
    <button class="btn btn-primary" type="button" (click)="back()">Back</button>
  </div>
  </div>
  </div>
  </form>