<ng-template #editModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Client Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="clientForm" style="opacity:0.93">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <input type="text" class="float-right" placeholder="first name" formControlName="first_name" />
          <label>First Name: </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <input type="text" class="float-right" placeholder="last name" formControlName="last_name" />
          <label>Last Name: </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <input type="text" class="float-right" placeholder="preferred name" formControlName="preferred_name" />
          <label>Preferred Name: </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label>Gender: </label>
          <select class= "form-control" class="float-right" formControlName="gender" style="width: 173px;">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label>Birth Date (Date must be MM/DD/YYYY): </label>
          <input type="date" class="float-right form-control" placeholder="mm/dd/yyyy" formControlName="birth_date" style="width: 173px; min-height:1em;"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label>Phone: </label>
          <input type="text" class="float-right" placeholder="phone" formControlName="phone" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label><span style="background-color: yellow;">First Time Homeless:</span><font color="red" *ngIf="!isAdmin">*</font> </label>
          <select class="form-control float-right" #fthitem style="width: 173px;" [(ngModel)]="firstTimeHomeless" [ngModelOptions]="{standalone: true}" (change)="onFTHChange(fthitem.value)">
            <option value='Unknown'>Unknown</option>
            <option value='Yes'>Yes</option>
            <option value='No'>No</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label><span style="background-color: yellow;">Date Became Homeless (Date must be MM/DD/YYYY):</span> </label>
          <input type="date" class="float-right form-control" placeholder="mm/dd/yyyy" formControlName="date_became_homeless" style="width: 173px; min-height:1em;"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label><span style="background-color: yellow;">Reason for Homelessness:</span> </label>
          <select class="form-control" class="float-right" #item formControlName="homeless_reason" style="width: 173px;" (change)="onChange(item.value)">
            <option *ngFor="let option of homelessReasonOptions" [value]="option">{{option}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <input type="text" class="float-right" placeholder="Reason" [(ngModel)]="otherHomelessReason" [ngModelOptions]="{standalone: true}" *ngIf="extraInfoNeeded" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label><span style="background-color: yellow;">Due to Covid:</span><font color="red" *ngIf="!isAdmin">*</font> </label>
          <select class="form-control float-right" #dtcitem style="width: 173px;" [(ngModel)]="dueToCovid" [ngModelOptions]="{standalone: true}" (change)="onDTCChange(dtcitem.value)">
            <option value='Unknown'>Unknown</option>
            <option value='Yes'>Yes</option>
            <option value='No'>No</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <input type="checkbox" class="float-right" formControlName="is_veteran" />
          <label>Is Veteran: </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <input type="checkbox" class="float-right" formControlName="is_aftercare" />
          <label>Is After Care: </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label>Mailbox: </label>
          <input type="text" class="float-right" placeholder="Joppa Mailbox Number" formControlName="joppa_apartment_number" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label>Dwelling: </label>
          <select class="form-control" class="float-right" formControlName="dwelling" style="width: 173px;">
            <option value="Tent">Tent</option>
            <option value="Shack">Shack</option>
            <option value="Abandoned Structure">Abandoned Structure</option>
            <option value="Mobile Home">Mobile Home</option>
            <option value="Motel">Motel</option>
            <option value="Garage">Garage</option>
            <option value="Vehicle">Vehicle</option>
            <option value="Camper">Camper</option>
            <option value="Under Bridge">Under Bridge</option>
            <option value="Streets">Streets</option>
            <option value="House">House</option>
            <option value="Apartment">Apartment</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label>Status: </label>
          <select class="form-control" class="float-right" formControlName="status" style="width: 173px;">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Alumni">Alumni</option>
            <option value="Deceased">Deceased</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="isAdmin">
          <textarea type="text" rows="3" placeholder="admin notes" class="float-right"
            formControlName="admin_notes"></textarea>
          <label>Admin Notes: </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary float-right" [disabled]="!clientForm.valid" (click)="submitClient(); c('');">Submit Client</button>
    <button type="button" class="btn btn-outline-primary float-right" (click)="c('Close click')">Close</button>
  </div>
</ng-template>