<div class="card" style="opacity:0.93">
  <div class="card-header">
    <h2>Admin</h2>
  </div>
  <div class="panel-body" style="opacity:0.93">
    <table class="table">
      <tbody>
        <tr>
          <td style="height:75px;" (click)="goToRoutes()">
            Start Admin Outreach Route
          </td>
        </tr>
        <tr>
          <td style="height:75px;" (click)="goToHeatRoutes()">
            Start Admin Heat Route
          </td>
        </tr>
        <tr>
          <td style="height:75px;" (click)="createNewHeater()">
            Create New Heater
          </td>
        </tr>
        <tr>
          <td style="height:75px;" (click)="checkInAllHeaters()">
            Check In All Checked Out Heaters
          </td>
        </tr>
        <tr>
          <td style="height:75px;" (click)="gotToClientListing()">
            Client Listing
          </td>
        </tr>
        <tr>
          <td style="height:75px;" (click)="openAdminReports()">
            Reports
          </td>
        </tr>
        <tr>
          <td style="height:75px;" (click)="openChangeRegularPassword()">
            Change Regular Password
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button routerLink="/" class="btn btn-primary" type="button">Back</button>
  </div>
</div>