<ng-template #editModal let-c="close" let-d="dismiss"> 
  <div class="modal-header">
    <h4 class="modal-title">Camp Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
    <div class="modal-body">
      <form [formGroup]="campForm" style="opacity:0.93">
        <div class="login-box">
          <div class="col-md-12">
            <label>Name: </label>
            <input type="text" placeholder="name" formControlName="name"/>
          </div>
          <div class="col-md-12">
            <label>Active: </label>
            <input type="checkbox" formControlName="is_active"/>
          </div>
          <div class="col-md-12">
            <button type="button" [disabled]="!campForm.valid" (click)="submitCamp(); c('');" class="btn btn-secondary">Submit Camp</button>
          </div>
        </div>
      </form>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
