<ng-template #editModal let-c="close" let-d="dismiss"> 
  <div class="modal-header">
    <h4 class="modal-title">Camp Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
    <div class="modal-body">
      <form [formGroup]="campForm" style="opacity:0.93">
        <div class="login-box">
          <div class="col-md-12">
            <label>Name: </label>
            <input type="text" placeholder="name" formControlName="name"/>
          </div>
          <div class="col-md-12">
            <label>Latitude: </label>
            <input type="text" placeholder="latitude" formControlName="latitude"/>
            <button class="btn btn-secondary text-right" (click)="getCurrentLocation();">Get Current Location</button>
          </div>
          <div class="col-md-12">
            <label>Longitude: </label>
            <input type="text" placeholder="longitude" formControlName="longitude"/>
          </div>
          <div class="col-md-12">
            <label>Notes: </label>
            <textarea type="text" rows="3" cols="40" placeholder="notes" formControlName="notes"></textarea>
          </div>
          <div class="col-md-12">
            <label>Position: </label>
            <input type="number" placeholder="position" formControlName="position"/>
          </div>
          <div class="col-md-12">
            <label>Active: </label>
            <input type="checkbox" formControlName="is_active"/>
          </div>
        </div>
      </form>
    </div>
  <div class="modal-footer">
    <button type="button" [disabled]="!campForm.valid" (click)="submitCamp(); c('');" class="btn btn-primary">Submit Camp</button>
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
