<form [formGroup]="heaterForm">
  <div class="card" style="opacity:0.93">
    <div class="card-header">
      <h2>Create New Heater</h2>
    </div>
    <div class="panel-body" style="opacity:0.93">
      <div class="entry-box">
        <div class="col-md-12">
          <input type="text" placeholder="Serial Number" formControlName="serial_number" style="width: 185px; float:right;"/>
          <label>Serial Number: </label>
        </div>
        <div class="col-md-12">
          <select id="heaterType" formControlName="heater_type_id" style="width: 185px; float:right;">
            <option value="" disabled selected>Select a heater type</option>
            <option *ngFor="let heatertype of heaterTypes" [value]="heatertype.id">{{heatertype.type_description}}
            </option>
          </select>
          <label>Heater Type: </label>
        </div>
        <div class="col-md-12" style="float:right;">
          <button type="button" [disabled]="!heaterForm.valid" (click)="submitHeater()" class="btn btn-primary">Submit
            Heater</button>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button routerLink="/adminHome" class="btn btn-primary" style="float: left" (click)="back()"><fa-icon [icon]="backIcon"></fa-icon> Back</button>
    </div>
  </div>
</form>