<ng-template #incomeMdl let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Create Income Record</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="has_income" class="col-6 col-form-label">Has Income:</label>
                        <input id="has_income" class="form-control-checkbox" type="checkbox" [(ngModel)]="has_income"
                            name="has_income" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="monthly_money">Monthly income?</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input id="monthly_money" type="text" class="form-control" placeholder="Amount"
                            [(ngModel)]="monthly_money" style="float:left;" />
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="what_income_from">What income is from?</label>
                    <select id="what_income_from" class="form-control" [(ngModel)]="what_income_from"
                        name="what_income_from" style="float:left;">
                        <option value="Full-time job">Full-time job</option>
                        <option value="Part-time job">Part-time job</option>
                        <option value="SSI">SSI</option>
                        <option value="Disability">Disability</option>
                        <option value="Donating">Donating</option>
                        <option value="Scrapping">Scrapping</option>
                        <option value="Pension">Pension</option>
                        <option value="Survivor Benefits">Survivor Benefits</option>
                        <option value="Other">Other</option>
                    </select>
                    <input *ngIf="what_income_from === 'Other'" id="other_income_from" type="text"
                        class="form-control mt-2" placeholder="Please specify" [(ngModel)]="other_income_from"
                        name="other_income_from" />
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Don't Save</button>
        <button type="button" class="btn btn-primary" (click)="submitIncome();c('')">Save</button>
    </div>
</ng-template>