<div class="card text-center" style="opacity:0.93">
  <div class="card-header text-center" id="topOfScreen">
    <h2>Checkout Heating Equipment</h2>
    <h6><label><font color="red">*</font></label>Indicates Required Field</h6>
  </div>
  <form [formGroup]="routeInstanceTankHoseForm" *ngIf="routeInstanceTankHoseForm">
    <div class="text-center" style="opacity:0.93;">
      <div class="entry-box">
        <div class="col-md-12" *ngIf="isInitialCheckout">
          <label>Heaters Out:<font color="red">*</font></label>
          <input type="text" placeholder="0" formControlName="number_heaters_out" />
        </div>
        <div class="col-md-12" *ngIf="isInitialCheckout">
          <label>Hoses Out:<font color="red">*</font></label>
          <input type="text" placeholder="0" formControlName="number_hoses_out" />
        </div>
        <div class="col-md-12" *ngIf="isInitialCheckout">
          <label>Tanks Out:<font color="red">*</font></label>
          <input type="tel" placeholder="0" formControlName="number_tanks_out" />
        </div>
        <div class="col-md-12" *ngIf="!isInitialCheckout">
          <label>Heaters In:<font color="red">*</font></label>
          <input type="text" placeholder="0" formControlName="number_heaters_in" />
        </div>
        <div class="col-md-12" *ngIf="!isInitialCheckout">
          <label>Hoses In:<font color="red">*</font></label>
          <input type="text" placeholder="0" formControlName="number_hoses_in" />
        </div>
        <div class="col-md-12" *ngIf="!isInitialCheckout">
          <label>Tanks In:<font color="red">*</font></label>
          <input type="text" placeholder="0" formControlName="number_tanks_in" />
        </div>
      </div>
    </div>
  </form>
  <div class="card-footer">
    <button *ngIf="!isEndOfRoute" [disabled]="routeInstanceTankHoseForm !== undefined ? !routeInstanceTankHoseForm.valid : null" type="submit" class="btn btn-primary" style="float:right;" (click)="next();">Continue <fa-icon [icon]="forwardIcon"></fa-icon></button>
    <button *ngIf="isEndOfRoute" [disabled]="routeInstanceTankHoseForm !== undefined ? !routeInstanceTankHoseForm.valid : null" type="button" class="btn btn-primary" style="float:right;" (click)="endRoute()">End Route <fa-icon [icon]="forwardIcon"></fa-icon></button>
  </div>
</div>